* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: linear-gradient(#422a58, #6b71af);
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    background: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.navContainer {
    width: 33%;
    display: flex;
    align-items: center;
}

.contenedorIcono {
    padding-left: 20px;
}

.contenedorOpciones {
    align-items: center;
    justify-content: center;
}

.contenedorOpciones ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.contenedorOpciones ul li {
    list-style: none;
    cursor: pointer;
}

.contenedorModoOscuro {
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

main {
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora {
    background-color: #15173c;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: .5s;
}

.pantalla {
    grid-column: 1/-1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    overflow: hidden;
}


.btn {
    background-color: #202349;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-color: #090c31;
}

.cientifica {
    display: none;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #e6394a;
}

#igual:hover {
    background-color: #e65766;
}